openapi: 3.1.0
info:
  title: dcbuilder.dev API
  description: REST API for managing jobs, candidates, investments, and news content.
  version: 1.0.0
  contact:
    name: dcbuilder
    url: https://t.me/dcbuilder

servers:
  - url: https://dcbuilder.dev/api/v1
    description: Production server

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authenticated requests

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
      required:
        - error

    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    Job:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        company:
          type: string
        companyLogo:
          type: string
          nullable: true
        link:
          type: string
        location:
          type: string
          nullable: true
        remote:
          type: string
          enum: [Remote, Hybrid, On-site]
          nullable: true
        type:
          type: string
          enum: [Full-time, Part-time, Contract]
          nullable: true
        salary:
          type: string
          nullable: true
        department:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        category:
          type: string
          enum: [portfolio, network]
        featured:
          type: boolean
        description:
          type: string
          nullable: true
        responsibilities:
          type: array
          items:
            type: string
          nullable: true
        qualifications:
          type: array
          items:
            type: string
          nullable: true
        benefits:
          type: array
          items:
            type: string
          nullable: true
        companyWebsite:
          type: string
          nullable: true
        companyX:
          type: string
          nullable: true
        companyGithub:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - title
        - company
        - link
        - category
        - createdAt
        - updatedAt

    JobInput:
      type: object
      properties:
        title:
          type: string
        company:
          type: string
        link:
          type: string
        category:
          type: string
          enum: [portfolio, network]
        companyLogo:
          type: string
        location:
          type: string
        remote:
          type: string
          enum: [Remote, Hybrid, On-site]
        type:
          type: string
          enum: [Full-time, Part-time, Contract]
        salary:
          type: string
        department:
          type: string
        tags:
          type: array
          items:
            type: string
        featured:
          type: boolean
        description:
          type: string
        responsibilities:
          type: array
          items:
            type: string
        qualifications:
          type: array
          items:
            type: string
        benefits:
          type: array
          items:
            type: string
        companyWebsite:
          type: string
        companyX:
          type: string
        companyGithub:
          type: string
      required:
        - title
        - company
        - link
        - category

    Candidate:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        title:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        summary:
          type: string
          nullable: true
        skills:
          type: array
          items:
            type: string
          nullable: true
        experience:
          type: string
          enum: ["0-1", "1-3", "3-5", "5-10", "10+"]
          nullable: true
        education:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
        cv:
          type: string
          nullable: true
        featured:
          type: boolean
        available:
          type: boolean
        email:
          type: string
          nullable: true
        telegram:
          type: string
          nullable: true
        calendly:
          type: string
          nullable: true
        x:
          type: string
          nullable: true
        github:
          type: string
          nullable: true
        linkedin:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - name
        - createdAt
        - updatedAt

    CandidateInput:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        location:
          type: string
        summary:
          type: string
        skills:
          type: array
          items:
            type: string
        experience:
          type: string
          enum: ["0-1", "1-3", "3-5", "5-10", "10+"]
        education:
          type: string
        image:
          type: string
        cv:
          type: string
        featured:
          type: boolean
        available:
          type: boolean
        email:
          type: string
        telegram:
          type: string
        calendly:
          type: string
        x:
          type: string
        github:
          type: string
        linkedin:
          type: string
        website:
          type: string
      required:
        - name

    Investment:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
        logo:
          type: string
          nullable: true
        tier:
          type: string
          enum: ["1", "2", "3", "4"]
          nullable: true
        featured:
          type: boolean
        status:
          type: string
          enum: [active, inactive, acquired]
        website:
          type: string
          nullable: true
        x:
          type: string
          nullable: true
        github:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - title
        - createdAt
        - updatedAt

    InvestmentInput:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        imageUrl:
          type: string
        logo:
          type: string
        tier:
          type: string
          enum: ["1", "2", "3", "4"]
        featured:
          type: boolean
        status:
          type: string
          enum: [active, inactive, acquired]
        website:
          type: string
        x:
          type: string
        github:
          type: string
      required:
        - title

    CuratedLink:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        url:
          type: string
        source:
          type: string
        date:
          type: string
          format: date-time
        description:
          type: string
          nullable: true
        category:
          type: string
        featured:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - title
        - url
        - source
        - date
        - category
        - createdAt
        - updatedAt

    CuratedLinkInput:
      type: object
      properties:
        title:
          type: string
        url:
          type: string
        source:
          type: string
        date:
          type: string
          format: date-time
        category:
          type: string
        description:
          type: string
        featured:
          type: boolean
      required:
        - title
        - url
        - source
        - date
        - category

    Announcement:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        url:
          type: string
        company:
          type: string
        companyLogo:
          type: string
          nullable: true
        platform:
          type: string
          enum: [x, blog, discord, github, other]
        date:
          type: string
          format: date-time
        description:
          type: string
          nullable: true
        category:
          type: string
        featured:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - title
        - url
        - company
        - platform
        - date
        - category
        - createdAt
        - updatedAt

    AnnouncementInput:
      type: object
      properties:
        title:
          type: string
        url:
          type: string
        company:
          type: string
        companyLogo:
          type: string
        platform:
          type: string
          enum: [x, blog, discord, github, other]
        date:
          type: string
          format: date-time
        category:
          type: string
        description:
          type: string
        featured:
          type: boolean
      required:
        - title
        - url
        - company
        - platform
        - date
        - category

    Affiliation:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        role:
          type: string
        dateBegin:
          type: string
          nullable: true
        dateEnd:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        imageUrl:
          type: string
          nullable: true
        logo:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - title
        - role
        - createdAt
        - updatedAt

    AffiliationInput:
      type: object
      properties:
        title:
          type: string
        role:
          type: string
        dateBegin:
          type: string
        dateEnd:
          type: string
        description:
          type: string
        imageUrl:
          type: string
        logo:
          type: string
        website:
          type: string
      required:
        - title
        - role

paths:
  /jobs:
    get:
      summary: List jobs
      description: Get a paginated list of jobs with optional filters
      operationId: listJobs
      security: []
      parameters:
        - name: company
          in: query
          schema:
            type: string
          description: Filter by company name
        - name: category
          in: query
          schema:
            type: string
            enum: [portfolio, network]
          description: Filter by category
        - name: featured
          in: query
          schema:
            type: boolean
          description: Filter by featured status
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
          description: Number of results
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        "200":
          description: List of jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Job"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"

    post:
      summary: Create job
      description: Create a new job posting
      operationId: createJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobInput"
      responses:
        "201":
          description: Job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Job"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /jobs/{id}:
    get:
      summary: Get job
      description: Get a single job by ID
      operationId: getJob
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Job details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Job"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update job
      description: Update an existing job
      operationId: updateJob
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobInput"
      responses:
        "200":
          description: Job updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Job"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete job
      description: Delete a job
      operationId: deleteJob
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Job deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /candidates:
    get:
      summary: List candidates
      description: Get a paginated list of candidates with optional filters
      operationId: listCandidates
      security: []
      parameters:
        - name: available
          in: query
          schema:
            type: boolean
          description: Filter by availability
        - name: featured
          in: query
          schema:
            type: boolean
          description: Filter by featured status
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of candidates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Candidate"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"

    post:
      summary: Create candidate
      operationId: createCandidate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CandidateInput"
      responses:
        "201":
          description: Candidate created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Candidate"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /candidates/{id}:
    get:
      summary: Get candidate
      operationId: getCandidate
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Candidate details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Candidate"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update candidate
      operationId: updateCandidate
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CandidateInput"
      responses:
        "200":
          description: Candidate updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Candidate"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete candidate
      operationId: deleteCandidate
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Candidate deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /investments:
    get:
      summary: List investments
      operationId: listInvestments
      security: []
      parameters:
        - name: tier
          in: query
          schema:
            type: string
            enum: ["1", "2", "3", "4"]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, acquired]
        - name: featured
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of investments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Investment"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"

    post:
      summary: Create investment
      operationId: createInvestment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvestmentInput"
      responses:
        "201":
          description: Investment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Investment"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /investments/{id}:
    get:
      summary: Get investment
      operationId: getInvestment
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Investment details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Investment"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update investment
      operationId: updateInvestment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvestmentInput"
      responses:
        "200":
          description: Investment updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Investment"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete investment
      operationId: deleteInvestment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Investment deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /news/curated:
    get:
      summary: List curated links
      operationId: listCuratedLinks
      security: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
        - name: featured
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of curated links
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CuratedLink"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"

    post:
      summary: Create curated link
      operationId: createCuratedLink
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CuratedLinkInput"
      responses:
        "201":
          description: Curated link created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CuratedLink"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /news/curated/{id}:
    get:
      summary: Get curated link
      operationId: getCuratedLink
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Curated link details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CuratedLink"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update curated link
      operationId: updateCuratedLink
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CuratedLinkInput"
      responses:
        "200":
          description: Curated link updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CuratedLink"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete curated link
      operationId: deleteCuratedLink
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Curated link deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /news/announcements:
    get:
      summary: List announcements
      operationId: listAnnouncements
      security: []
      parameters:
        - name: company
          in: query
          schema:
            type: string
        - name: platform
          in: query
          schema:
            type: string
            enum: [x, blog, discord, github, other]
        - name: featured
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of announcements
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Announcement"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"

    post:
      summary: Create announcement
      operationId: createAnnouncement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnnouncementInput"
      responses:
        "201":
          description: Announcement created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Announcement"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /news/announcements/{id}:
    get:
      summary: Get announcement
      operationId: getAnnouncement
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Announcement details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Announcement"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update announcement
      operationId: updateAnnouncement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnnouncementInput"
      responses:
        "200":
          description: Announcement updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Announcement"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete announcement
      operationId: deleteAnnouncement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Announcement deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /affiliations:
    get:
      summary: List affiliations
      operationId: listAffiliations
      security: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of affiliations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Affiliation"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"

    post:
      summary: Create affiliation
      operationId: createAffiliation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AffiliationInput"
      responses:
        "201":
          description: Affiliation created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Affiliation"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /affiliations/{id}:
    get:
      summary: Get affiliation
      operationId: getAffiliation
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Affiliation details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Affiliation"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update affiliation
      operationId: updateAffiliation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AffiliationInput"
      responses:
        "200":
          description: Affiliation updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Affiliation"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete affiliation
      operationId: deleteAffiliation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Affiliation deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /admin/analytics:
    get:
      summary: Get analytics
      description: Get dashboard analytics from PostHog
      operationId: getAnalytics
      responses:
        "200":
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageviews:
                    type: object
                    properties:
                      week:
                        type: integer
                      month:
                        type: integer
                  uniqueVisitors:
                    type: object
                    properties:
                      week:
                        type: integer
                      month:
                        type: integer
                  topPages:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        views:
                          type: integer
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
